/*about us begin*/
.wrapper-about-us {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
img[alt="illustrate to About us"],
img[alt="We develop ourselves"] {
  width: 169px;
  height: 169px;
  border-radius: 50%;
  border: 7px solid #f2f2f2;
  margin-left: -7px;
}
img[alt="illustrate to About us"] {
  display: block;
  transition: all 0.5s;
}
.story img:hover {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  border: 7px solid transparent;
}
img[alt="We develop ourselves"] {
  transition: all 0.3s
}
img[alt="We develop ourselves"]:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  border: 7px solid transparent;
}
.story {
  width: 169px;
  position: relative;
  margin: 0 auto;
}
.container-text {
  width: 305px;
  position: absolute;
  top: 6px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.7);
}
.container-text h4:first-child {
  padding-bottom: 8px;
}
.story:nth-child(2n-1) .container-text {
  text-align: right;
  right: 219px;
}
.story:nth-child(2n) .container-text {
  text-align: left;
  left: 219px;
}
.line-about-us {
  background-color: #f1f1f1;
  width: 3px;
  height: 96px;
  outline: none;
  border: none;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
/*about us end*/

@media all and (max-width: 1035px) {
  .structure {
    padding: 120px 9.515%;
  }
  .story {
    min-width: 100%;
    margin: 0;
  }
  .container-text {
    width: 75%;
    text-align: left !important;
  }
  .story:nth-child(2n) .container-text {
    left: 25%;
  }
  .story:nth-child(2n-1) .container-text {
    right: 0;
  }
  .story img:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4) translateY(11%);
  }
  img[alt="We develop ourselves"] {
    transition: all 0.3s;
    display: block;
  }
  img[alt="We develop ourselves"]:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3) translateY(8%);
  }
  .line-about-us {
    height: 129px;
    margin: 0 0 -7px 10%;
  }
}
