/*contact begin*/
.contact {
  background-color:  #222222;
}
.contact h3 {
  color:  #ffffff;
}
.contact h3 + p {
  color:  #777777;
}
form button[type="submit"] {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #fed136;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 21px 47px;
  margin-top: 30px;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  clear: both;
}
form button[type="submit"]:hover {
  background: #ffc336;
}
form button[type="submit"]:active {
  background: #ffb200 !important;
  position: relative;
  top: 3px;
}
fieldset {
  float: left;
  width: 48%;
}
fieldset input {
  width: 100%;
}
fieldset input, textarea {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 19px;
  outline: none;
  border: none;
  padding: 17.5px 19px;
}
.label {
  margin-bottom: 29px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.border {
  display: block;
  position: absolute;
  left: -100%;
  bottom: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 1px;
  border-bottom: 3px solid #fed136;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #fed136;
}
fieldset input:focus + .border,
textarea:focus + .border {
  left: 0;
}
textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 216px;
}
.textarea-label {
  float: right;
  width: 48%;
}

/*contact end*/

@media all and (max-width: 1035px) {
  fieldset{
      width: 100%;
  }
  fieldset input {
    width: 100%;
    height: 68px;
    font-size: 28px;
  }
  .label {
    float: none;
  }
  .textarea-label {
    width: 100%;
  }
  textarea {
    height: 260px;
    font-size: 28px;
  }
}
