/*home begin*/
.home {
  padding-bottom: 11.2%;
  padding-top: 19.7%;
  text-align: center;
  background: url(../img/Home.jpg) fixed no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.home h2 {
  font-family: 'Droid Serif Italic';
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 2.7%;
  letter-spacing: 1px;
}
.home h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 3.73%;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.home a {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 65px;
  text-transform: uppercase;

  border-radius: 3px;
  background-color: #fed136;
  padding-left: 51px;
  padding-right: 51px;
  height: 65px;
  display: inline-block;
}
.home a:hover {
  background: #ffc336;
}
.home a:active {
  background: #ffb200 !important;
  position: relative;
  top: 3px;
}
/*home end*/


@media all and (max-width: 1035px) {
  .home {
    background: url(../img/Home.jpg) fixed no-repeat;
    background-position-x: -200px;
    padding-bottom: 16.2%;
    padding-top: 24.7%;
}
}
